/* NOTES!
Following styling is showed on screens equal or smaller than 576px.
*/

@media (max-width: 411px) {
  .header ul li {
    padding: 0.3rem;
    width: 4rem;
    font-size: 11px;
  }

  .about-me-text-div {
    flex-direction: column;
  }

  .photo-text {
    margin-top: 8rem;
  }

  .page-divs {
    overflow-y: scroll;
  }
  .contact-form {
    width: 17rem;
  }

  .contact-form input {
    height: 2rem;
  }
  .contact-form input:last-child {
    padding-bottom: 15rem;
  }
  .contact-info-text {
    width: 17rem;
  }

  .portfolio-info-text {
    width: 17rem;
  }
  .portfolio-photo-div img {
    height: 18rem;
  }
  .portfolio-photo-div {
    height: 18rem;
  }

  .scrollicon-portfolio {
    margin-top: 18rem;
  }
  .header ul li {
    padding: 0;
    width: 3.5rem;
    font-size: 11px;
  }
  .header ul li:hover {
    font-size: 12px;
  }

  .headerlogo {
    height: 4rem;
    width: 3.5rem;
    align-self: center;
    object-fit: cover;
    cursor: pointer;
  }
}
