/* NOTES!
Following styling is showed on screens equal or smaller than 1366px.
*/

@media (max-width: 1366px) {
  .photo-text h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .photo-text h2 {
    font-size: 2rem;
  }
  .CVphoto {
    width: 100%;
  }

  .photo-text {
    margin-top: 16rem;
    font-size: 3rem;
  }

  .about-div {
    height: 100vh;
    position: relative;
    padding-top: 3rem;
  }
}
