* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

/* REUSABLE STYLES BELOW*/

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.justify-left {
  justify-content: left;
}
.grow {
  flex: 1;
}
.column {
  flex-direction: column;
}
.fullwidth {
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.padding {
  padding: 1rem;
}

.absolute {
  position: absolute;
}

.grayscale {
  filter: grayscale(1);
}

/* Body styles below */
body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(48, 48, 48);
  color: #aab6e9;
  padding-left: 13rem;
  font-family: Arial, Helvetica, sans-serif;
}

.CVphoto {
  width: 100%;

  object-fit: cover;
}

.CVphoto-div {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.photo-text h1 {
  font-weight: normal;
}

.photo-text h2 {
  font-weight: 100;
  font-size: 2rem;
}
.photo-text {
  padding-left: 5rem;
  padding-top: 17rem;
  font-size: 3rem;
  z-index: 1;
  line-height: 5rem;
  align-items: unset;
  text-shadow: 5px 5px 20px #000000;
  font-family: "Abril Fatface", cursive;
}

.hidden-photo-style {
  font-size: 6.5rem;
  color: rgb(138, 85, 224);
}
.hidden-photo-style2 {
  color: rgb(138, 85, 224);
}

.about-div {
  height: 100vh;
  position: relative;
  padding-top: 9rem;
}

.title {
  padding-bottom: 2.5rem;
  padding-left: 5rem;
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  color: #aab6e9;
}

.hidden-title-style {
  color: rgb(138, 85, 224);
}

.hidden-title2-style {
  color: rgb(138, 85, 224);
}

.about-img-div img {
  height: 22rem;
}

.hidden-image-style {
  filter: grayscale(0);
}

.about-img-div {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.logo {
  height: 10em;
  width: auto;
  margin-bottom: 10rem;
}

.aside-element {
  z-index: 1;
  width: 13rem;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  background-color: rgb(26, 26, 26);
  color: rgb(221, 221, 221);
  overflow: hidden;
}

.aside-element ul li {
  display: flex;
  list-style: none;
  padding: 2rem;
  border-top: 0.1rem solid rgb(94, 94, 94);
  width: 13rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: lighter;
}

.aside-element ul li:hover {
  color: rgb(138, 85, 224);
}

.aside-element ul:last-child {
  border-bottom: 0.1rem solid rgb(94, 94, 94);
}

.about-me-text-div {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  line-height: 1.3rem;
}

.about-me-text-div h4 {
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: #ffffff;
  font-weight: bolder;
}

.info-text1,
.info-text2 {
  color: whitesmoke;
}

.info-text1 {
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.portfolio-page {
  height: 100vh;
  position: relative;
  padding-top: 9rem;
}

.portfolio-info-text {
  width: 50rem;
  color: whitesmoke;
}
