/* NOTES!
Following styling is showed on screens equal or smaller than 992px.
*/

@media (max-width: 768px) {
  .aside-element {
    display: none;
  }

  body {
    padding-left: 0;
  }
  .header {
    visibility: visible;
  }

  .title {
    font-size: 2rem;
  }

  .about-img-div img {
    height: 15rem;
  }

  .portfolio-photo-div img {
    height: 33rem;
  }
  .contact-form {
    width: 25.5rem;
  }

  .contact-info-text {
    width: 26.5rem;
    color: #cfdfd7;
    padding-bottom: 1rem;
  }
}
